In [1]:
import pandas as pd
import numpy as np

In [2]:
a=pd.Series([3,4,5,6,7])
print(a)
print(type(a))

0    3
1    4
2    5
3    6
4    7
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
b=np.array([9,7,6,5])
c=pd.Series(b)
print(c)

0    9
1    7
2    6
3    5
dtype: int32

In [4]:
pd.Series(['Sourav','Shuv','Roy','Sutradhar'],index=[5,3,4,9])

5       Sourav
3         Shuv
4          Roy
9    Sutradhar
dtype: object

In [5]:
d={'Sourav':5,'Shuv':6,'Roy':7}
print(d)

{'Sourav': 5, 'Shuv': 6, 'Roy': 7}

In [6]:
pd.Series(d)

Sourav    5
Shuv      6
Roy       7
dtype: int64

In [7]:
pd.Series(3).repeat(5)

0    3
0    3
0    3
0    3
0    3
dtype: int64

In [8]:
pd.Series(3).repeat(5).reset_index(drop=True)

0    3
1    3
2    3
3    3
4    3
dtype: int64

In [9]:
d=pd.Series([4,5]).repeat([5,4]).reset_index(drop=True)
print(d)

0    4
1    4
2    4
3    4
4    4
5    5
6    5
7    5
8    5
dtype: int64

In [10]:
d[5]

5

In [11]:
d[5:8]

5    5
6    5
7    5
dtype: int64

In [12]:
d.astype('float')

0    4.0
1    4.0
2    4.0
3    4.0
4    4.0
5    5.0
6    5.0
7    5.0
8    5.0
dtype: float64

In [13]:
d.to_list()

[4, 4, 4, 4, 4, 5, 5, 5, 5]