In [1]:
import pandas as pd

In [6]:
a=pd.Series(['  Shuv ','    Sourav   ',' roy ','kritartha','Babloo   '])
a

0            Shuv
1        Sourav
2             roy
3        kritartha
4        Babloo
dtype: object

In [7]:
a.str.upper()

0            SHUV
1        SOURAV
2             ROY
3        KRITARTHA
4        BABLOO
dtype: object

In [8]:
a.str.lower()

0            shuv
1        sourav
2             roy
3        kritartha
4        babloo
dtype: object

In [9]:
for i in a:
    print(i,len(i))

  Shuv  7
    Sourav    13
 roy  5
kritartha 9
Babloo    9

In [10]:
b=a.str.strip()
for i in b:
    print(i,len(i))

Shuv 4
Sourav 6
roy 3
kritartha 9
Babloo 6

In [11]:
b.str.split()

0         [Shuv]
1       [Sourav]
2          [roy]
3    [kritartha]
4       [Babloo]
dtype: object

In [13]:
pd.Series(['2022/7/1','2023/7/1','2024/7/1'])

0    2022/7/1
1    2023/7/1
2    2024/7/1
dtype: object

In [14]:
pd.Series(['2022/7/1','2023/7/1','2024/7/1']).str.split('/')

0    [2022, 7, 1]
1    [2023, 7, 1]
2    [2024, 7, 1]
dtype: object

In [15]:
pd.Series(['2022/7/1','2023/7/1','2024/7/1']).str.split('/')[0]

['2022', '7', '1']

In [16]:
b.str.contains('gfg')

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [21]:
b.str.contains('Shuv')

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [22]:
b.str.contains('S')

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [26]:
c=b.str.replace('S','@')

In [27]:
c

0         @huv
1       @ourav
2          roy
3    kritartha
4       Babloo
dtype: object

In [28]:
c.str.count('@')

0    1
1    1
2    0
3    0
4    0
dtype: int64

In [29]:
c.str.startswith('@')

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [30]:
c.str.endswith('o')

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [34]:
c

0         @huv
1       @ourav
2          roy
3    kritartha
4       Babloo
dtype: object

In [33]:
c.str.find('r')#will give at what index the element is present if not then minus one

0   -1
1    3
2    0
3    1
4   -1
dtype: int64